@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

:root {
  --b1: light; /* Default background for light theme */
}

[data-theme="dark"] {
  --b1: dark; /* Default background for dark theme */
}
