@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

:root {
  --b1: light; /* Default background for light theme */
}

[data-theme="dark"] {
  --b1: dark; /* Default background for dark theme */
}
